@font-face {
  font-family: 'Quotes';
  src:
    url('./fonts/fall-is-coming-font/FallIsComingRegular-Mx9B.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/fall-is-coming-font/FallIsComingRegular-Mx9B.ttf') format('truetype')
}

body {
  font-family: 'Quotes';
}

#content {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
